.search-filter{
    padding: 20px;  
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center; 
    justify-content: center;
}
input{
    padding: 10px;
    padding-right: 100%; 
    background-color: white;
    border: solid #ccc;
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box; 
}
select{
    padding: 10px;
    background-color: white;
    border: solid #ccc;
    border-radius: 8px;
}
option{
    background-color: white;
}